
<!-- include hearder -->
<%- include('./partials/header.ejs') %>


<body>
    <button id="btn">Click me!!!</button>
    <h1>hello ji</h1>
    <p>kaise ho mere pyare desh vasiyon</p>


<!-- include footer -->

<%- include('./partials/footer.ejs') %>